/.github
/.vscode
/__pycache__
AIROGS_20224/*
AIROGS_20224/fold_split_images/*
AIROGS_20224/preprocessed_images/*
AIROGS_20224/train/*
output/*
output/
wandb/*
./AIROGS_2024/*
./AIROGS_2024/images/*
./AIROGS_2024/train/*
AIROGS_2024/images/*
AIROGS_2024/preprocessed_images/*
/AIROGS_2024/color_aug_images/*
/AIROGS_2024/geo_aug_images/*
trainers/__pycache__/trainer.cpython-311.pyc
sets/__pycache__/AIROGS_dataset.cpython-311.pyc
AIROGS_2024/fold_split_images/*
logs/*